

body{
    background-image: url("https://github.com/Amrit-a12/trial/blob/main/back1.jpg");
    margin: 0%;
   
    
}


.main-container{
    
   
    text-align: center;
}
.top{
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    opacity: 100%;
    overflow: hidden;
}

.dropdown-content a:hover{
    background-color: darkslategray;
}
.dropdown{
    overflow: hidden;
}
.dropdown:hover .dropdown-content{
    display:block;
    
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}       

.upper-container{
   
    display: flex;
    
    text-align: center;   /*tetx center*/
    align-items: center;  /*align in horizontal axis*/
    justify-content: space-around;
    margin-bottom: 50px;
}
.top-text{
    background-color: lightblue;
    border: dotted darkred 2px;
    border-radius: 20px;
    justify-content: space-around;
    
}

.intro-img{
    
    display: flex;
    justify-content: space-evenly;
    width: 40%;

}
.intro-img img{
    border: black solid 1px;
    border-radius: 50%;
    width: 40%;
    height: 35%;
}

.lower-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
iframe{
    border-radius: 20px;
}
.bottom{
    display: block;
    margin-top: 20px;

}
.bottomText{
    color: lightblue;
}
.bottomText strong{
    color: rgb(243, 2, 2);
}

button.registration{
    background-color: darkmagenta;
    color: cadetblue;
}
